:root{
    --primary-color :#EC0928;
    --primary-font : 'Montserrat' , sans-serif;
    --primary-shadow: -3px 5px 25px 0px rgba(0,0,0,0.28);

}

.card--primary{
    width: 352px;
    height: 758px;
    font-family: var(--primary-font);
    line-height: 50px;
    background-color: white;
    box-shadow: var(--primary-shadow);
}


.card-mobile{
    text-decoration: none;
    font-family: var(--primary-font);
    color: #313131;
}
.card--secondry{
    width: 729px;
    height: 354px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    box-shadow: var(--primary-shadow);
}