
:root{
  --primary-color :#EC0928;
  --primary-font : 'Montserrat' , sans-serif

}
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1649px;
  margin:0 auto;
}


.topheader{
  display: flex;
  justify-content: end;  
  margin-top: 5px;
  margin-right: 35px;
 
}
.flag{
  width: 31px;
  margin-left: 15px;
}

.link-topheader{
  text-decoration: none;
  color: #313131;
  display: flex;
  align-items: center;

}
.lang{
  font-family: 'Museo Sans 700';
  font-size: 16px;
  margin-left: 5px;
}
/* section header*/
.showcase-header{
  position: sticky;
  top: 0;
  background-color: white;
  padding-bottom: 15px;
  z-index: 9999;

}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav{
  display: flex;
  align-items: center;
}
.link{
  padding: 0 19px;
  text-decoration: none;
  color: #313131;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.link:first-child{
  color: var(--primary-color);
}

.logo {
  width: 410px;
}




/* End section header*/

.back-image{
  width: 100%;
  height: 500px;
}
.back{
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.575);
  position: absolute;
  
}
.controle-content{
  display: flex;
  justify-content: space-between;
  
}
.nous-text{
color: white;
font-family: 'Montserrat', sans-serif;
letter-spacing: 3px;
font-size: 60px;
margin-top: 90px;
}

.content2{
  text-align: center;
  width: 500px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.657);
  font-family: 'Montserrat' , sans-serif;
  font-weight: 500;
  align-items: center;
  border-radius: 40px;
  margin-top: 50px;
}
.logo2{
  width: 138px;
  margin-top: 50px;
}
.parg{
   color: white;
   line-height: 28px;
   margin-top: 40px;
   font-size: 18px;
}







.showcase-prestation .content{
  text-align: center;
  margin-top: 30px;
  font-family: var(--primary-font);
}
.text-pre{
  font-size: 26px;
  letter-spacing: 8px;
  font-weight: 700;
  color: #313131;
}




/* circle card */
.content-card-circle{
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}


.card-circle{
  line-height: 35px;
}

.text-card-circle{
  font-family: var(--primary-font);
  font-weight: 50;
  color: #525252;
}
/*End  circle card */

/* Section Actulaete */
#showcase-actualites{
  background-color: #F5F2FF;
  margin-top: 90px;
  z-index: -11;
  position: relative;
}

#showcase-actualites .content .text-a{
text-align: center;
padding: 50px;
font-family: var(--primary-font);
font-size: 26px;
letter-spacing: 8px;
font-weight: 700;
color: #313131;
text-transform: uppercase;
}
.card{
  position: relative;
}
.card .img{
  width: 100%;
  
}

.content-card .img1{
  position:absolute;
  bottom: 0;
  left: 0;
}


#showcase-actualites .content-card
{
display: flex;
justify-content: space-around;
}
.content-card .content{
  margin-left:20px ;
  padding-top: 40px;

}

.content-card .content h1{
  font-size: 20px;
  letter-spacing: 1px;
}
.content-card .content p
{
  line-height: 28px;
  width: 308px;
  margin-top: 15px;
  text-align: justify;
  color: #313131;
}

.date-card{
color: rgb(102, 102, 102);
background-color: #3f3f3f28;
padding: 5px;
}
.btn--primary
{
 margin-top: 30px;

}






.width-card .content{
margin-right:30px;
line-height: 45px;
margin-top: -10px;
}





  .voir{
  font-size: 18px;
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: bold;
  text-align: center;
  margin: 10px;
  padding-bottom:50px;
}

/*End Section Actulaete */

#showcase-event{
  margin-top: 90px;
  z-index: -11;
  position: relative;
}

#showcase-event .content-card{
display: flex;
justify-content: space-around; 
margin-bottom: 50px;
}

#showcase-event .content-card .card .content{
  margin-top: -20px;
 
}

#showcase-event .text-a{
  margin-top: 120px;
  margin-bottom: 40px;
  text-align: center;
  padding: 50px;
  font-family: var(--primary-font);
  font-size: 26px;
  letter-spacing: 8px;
  font-weight: 700;
  color: #313131;
  text-transform: uppercase;
  }


  .date-event{
    width: 224px;
    height: 30px;
    background-color: #313131;
    color: white;
    position: absolute;
    margin-top: -38px;
    display: flex;
    align-items: center;
    margin-left: 62px;
  }
.date-event p{
  margin-left: 50px;
}
  

.localisaion-card{
  color: rgb(102, 102, 102);
background-color: #3f3f3f28;
padding: 5px;
}
/* 
End section event */

/* section footer*/
#footer{
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  margin-top: 150px;
}

.back-F{
position: absolute;
}

#footer .back-I{
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  opacity: 75%;
  
}


/*End section footer*/